# Tuples and Named Tuples

Kratší úsek k tuplu jako data typům.

Nahlížet na ně podobně jako na strings. Na pořadí může záležet.

## Tuple as Data Structure

- Tuple - container - záleží na pořadí - může obsahovat různé druhy dat - mají index čísla - lze je iterovat - nelze měnit hodnoty - fixní délka - fixní pořadí
- Lists - container - záleží na pořadí - může obsahovat různé druhy dat - mají index čísla - lze je iterovat - lze měnit hodnoty - měnná délka - proměnné pořadí
- Strings - container - záležé na pořadí - obsahuje pouze str - mají index čísla - lze je iterovat - nelze měnit hodnoty - fixní dílka - fixní pořadí

- nemůžeme přidávat nebo odstranit data
- nemůžeme měnit pořadí
- vhodné pro data strukturu ..
- naříklad koordinace -> mají jasně daná pravidla, pořadí a délku - díky tomu mají svůj význam
- například. Circle (0,0,10) - fixní délka a pořadí dodává smysl
- Takže pokud používáme tuple jako data structure používáme jej jako data typ který má smysl
- City: (Londo, UK, 8_780_000) - různé druhy a stejně máme význam
- city, _ , population = ("Beijing", "China", 21_000_000) => dummy variable nezajímá mě stát
- *_ již známe pro více dummy

In [9]:
a = 10,20,30 #tuple nemusíme mít závorky - pokud nemáme funkci apod. kde je to nezbytné
a

(10, 20, 30)

In [4]:
def print_tuple(t):
    for e in t:
        print(e)

In [6]:
print_tuple(10,20,30) #zde musíme zadat závorky jinak si myslí, že má tři argumenty

TypeError: print_tuple() takes 1 positional argument but 3 were given

In [7]:
print_tuple((10,20,30))

10
20
30

In [11]:
a[0],a[1],a[2] #indexujeme tuple

(10, 20, 30)

In [14]:
a[1:3] #slicujeme je..

(20, 30)

In [15]:
x, y, z = a

In [16]:
x, y ,z #unpacking

(10, 20, 30)

In [18]:
a = 1,2,3,4,5
x, *other, y = a

In [19]:
other

[2, 3, 4]

Zajímavé je, že nám to převede na list. Jinak je to poměrně časté.

In [20]:
x, *_, z = a #pokud mě nezajímá

In [22]:
_ #to ale neznamená, že nemá hodnotu :)

[2, 3, 4]

In [23]:
class Poind2D:
    def __init__(self,x,y):
        self.x = x
        self.y = y
        
    def __repr__(self):
        return f"{self.__class__.__name__}(x={self.x}, y={self.y})"

In [25]:
pt = Poind2D(10,20)

In [26]:
pt

Poind2D(x=10, y=20)

In [27]:
id(pt)

2613155100176

In [28]:
pt.x = 100

In [29]:
pt

Poind2D(x=100, y=20)

In [30]:
id(pt)

2613155100176

Pouze ukazuji, že pokud mám pointer s classou mohu jej měnit ale id mám stejné.

In [31]:
s = "python"

In [32]:
s = "python" + "rocks"
#string je immutable - ale naše s se nezměnilo - my jsme jej nezměnili ani nerozšířili
#my jsme vytvořili nový objekt

In [33]:
a = 1, 2, 3

In [34]:
id(a)

2613156015488

In [35]:
a += (4,5)

In [36]:
a

(1, 2, 3, 4, 5)

In [37]:
id(a)

2613156033456

To samé s tuplem - pouze jsme vytvořili nový objekt.

In [42]:
london = "london", "uk", 8_780_000
new_york = "new yourk", "usa", 8_500_000
beijing = "beijing", "china", 21_000_000

In [43]:
london

('london', 'uk', 8780000)

In [44]:
cities = [london, new_york, beijing]

Pouze ukázka, že často použijeme heterogení formu tuplů a napasujeme je do homogení podoby listů. Prostě to dává smysl pro operace apod.

In [45]:
total = 0
for city in cities:
    total += city[2]
print(total)
#prostě si tisknu součet počtu obyvatel

38280000

Nyní to samé pomocé list comprehension

In [49]:
sum([city[2] for city in cities]) #prostě jen badass way :)
# CO Z ČEHO ZA JAKÝCH PODMÍNEK

38280000

In [50]:
record = "DJA", 2018, 1, 19, 25_987, 26_072, 25_942, 26_072

In [51]:
symbol, year, month, day, open_, high, low, close = record

In [52]:
open_

25987

Obecně strašně otravný syntax.

In [53]:
symbol, *_, close = record

In [55]:
close #rychlejší způsob jak se dostat k určitým údajům nic víc

26072

Můžeme unpacokovat ve for loopu

In [57]:
for city, country, population in cities:
    print(city, country, population)

london uk 8780000
new yourk usa 8500000
beijing china 21000000

V podstatě takto funguje enumerate funkce.

In [58]:
for item in enumerate(cities):
    print(item)

(0, ('london', 'uk', 8780000))
(1, ('new yourk', 'usa', 8500000))
(2, ('beijing', 'china', 21000000))

In [59]:
for city, index in enumerate(cities):
    print(index, city)

('london', 'uk', 8780000) 0
('new yourk', 'usa', 8500000) 1
('beijing', 'china', 21000000) 2

Tadáá

## Named Tuples

V podstatě pokud chceme například informace o S&P500 - máme např. 8 údajů, jenže Tuple bude zmatený - moc údaju..Classa ale bude moc dlouhá, musíme vše nadefinovat, lze je měnit, dodat musíme rovnosti, porovnání apod. => proto přichází na řadu Named Tuples

- Named tuples dědí od tuplů - ale mají jméno
- Je to funkce která generuje classu - je to CLASS FACTORY
- Potřebuje jméno a pole, nemohou obsahovat _,  a obdržíme classu
- Jinak to necháme spíše na kod a uvidíme jak to bude vypadat :)

In [62]:
class Point3D:
    def __init__(self, x,y,z):
        self.x = x
        self.y = y
        self.z = z
#pro jednoduchou strukturu je lepší Named Tuples než zde - pokud nepotřebujuji mutability

In [63]:
from collections import namedtuple #named tuple je funkce pozor na to - class factory :)

In [64]:
Point2D = namedtuple("Point2D", ["x","y"]) #takto evidujeme

In [65]:
pt1 = Point2D(10,20) #z classy vytvářím objekty

In [66]:
pt1

Point2D(x=10, y=20)

In [68]:
pt3d_1 = Point3D(10,20,30)

In [69]:
pt3d_1

Z classy to mám bez ineterpretace a ještě se mi v tom můžou hrabat :ú.

In [73]:
Point2D = namedtuple("Point2D", ("x","y"))

In [74]:
pt2 = Pt2D(10,20)

In [75]:
pt2

Point2D(x=10, y=20)

Nic extra, jen opakuji to co výše prozatím.

In [78]:
pt2.x, pt2.y #Mohu ale takto volat jejich hodnoty - stejně jako u classy :)

(10, 20)

In [80]:
isinstance(pt2, tuple) #pouze připomínka - máme classu ale stále tuple

True

In [81]:
pt1 = Point2D(10,20)
pt2 = Point2D(10,20)

In [82]:
pt1 is pt2, pt1 == pt2, pt1 > pt2, pt1 <= pt2

(False, True, False, True)

Máme rovnou zabudováno porovnání, rovnost, a adresy mají samozřejmě jiné. Netřeba dodávat eq..apod.., hurá na to pro ukázku

In [83]:
class Point3D:
    def __init__(self, x,y,z):
        self.x = x
        self.y = y
        self.z = z
        
    def __repr__(self):
        #reprezentace classy
        return f"{self.__class__.__name__}, x={self.x}, y={self.y}, z={self.z}"
    
    def __eq__(self,other):
        if isinstance(other,Point3D):
            return self.x == other.x and self.y == other.y and self.z == other.z
        else:
            return false

Nyní bych mohl plašit s funkcionalitou i u classy, ale porovnání bych zase nedal..

In [84]:
pt1 = Point2D(10,20)
pt2 = Point3D(10,20,30)

Chceme maximum například.

In [85]:
max(pt1)

20

Snadné ale pro pt2 - error, musel bych zase dodávat fičuru navíc aby mi to u classy fungovalo. V podstatě named tuples dodává balík fičur zdarma.

In [86]:
def dot_product_3d(a,b):
    return a.x * b.x + a.y * b.y + a.z * b.z

In [87]:
pt1 = Point3D(1,2,3)
pt2 = Point3D(1,1,1)

In [88]:
dot_product_3d(pt1,pt2)

6

Počítáme kartézský produkt u classy. Nyní to zkusíme u tupliků.

In [89]:
a = (1,2)
b = (1,1)

In [90]:
list(zip(a,b))

[(1, 1), (2, 1)]

In [91]:
sum(e[0]* e[1] for e in zip(a,b))

3

V podstatě jde o to, že díky tomu že mám tuplíky stím mohu snadněji provádět operace. Zde to tak nemusí vypadat ale pokud by bylo hodnot hodně...tak by to moc nešlo :). Ještě tedy názorně pro tuple se třemi hodnotami.

In [93]:
Vector3D = namedtuple("Vector3D", "x y z")

In [94]:
v1 = Vector3D(1,2,3)
v2 = Vector3D(1,1,1)

In [95]:
dot_product_3d(v1,v2)

6

Ale můžu na ně vesele použít u funkci, kterou jsme vytvořili. Prostě je to operativnější. Stále je to tuple, takže indexujeme, slicujeme apod. ale též můžeme získat i jako field name :).

In [98]:
v1.x, v1[0], v1 #tadááá

(1, 1, Vector3D(x=1, y=2, z=3))

In [99]:
Circle = namedtuple("Circle","center_x center_y radius" )
#dobrej typ nemusím  u namedtuple dávat čárky stačej mezery

In [100]:
c = Circle(0,0,10)

In [103]:
c.center_x, c.center_y, c.radius #je to prostě pecka :)

(0, 0, 10)

In [104]:
Stock = namedtuple("Stock", """symbol year 
                    momth day open 
                    high low close""")
#další pěkný syntax typ - použít """"""

In [105]:
djia = Stock("DJIA", 2018, 1, 25, 26_313, 26_458, 26_260, 26_393)

In [107]:
djia #náš velká namedtuple ..jen ukázka že si vše přebral správně

Stock(symbol='DJIA', year=2018, momth=1, day=25, open=26313, high=26458, low=26260, close=26393)

Jelikož máme tuple můžeme samozřejmě iterovat

In [108]:
for item in djia:
    print(item)

DJIA
2018
1
25
26313
26458
26260
26393

In [109]:
p = Point2D(10,20)

In [110]:
x,y = p

In [111]:
x, y

(10, 20)

Unpacking zde funguje též stejně, a stejně tak i extended unpcaking tzn. použití *_ bez problému.

In [114]:
symbol, *_, konec_close = djia

In [118]:
konec_close, djia.close, djia[7] #:))

(26393, 26393, 26393)

In [120]:
_ #samozřejmě nikam se neztratí

[2018, 1, 25, 26313, 26458, 26260]

In [121]:
Person = named("Person", "name age _ssn")

NameError: name 'named' is not defined

Do fieldname prostě nesmím cpát _ - nelíbí se mu to, leda bych mu dodal parametr na rename = True

In [124]:
Person = namedtuple("Person", "name age ssn")

In [126]:
Person._fields #můžeme takto nahlédnout

('name', 'age', 'ssn')

In [129]:
d = djia._asdict()

In [130]:
d["symbol"]

'DJIA'

Zajímavý, prostě si je přehodím jako dictionary :). Jako rodered tedy ..Protože tuple je ordered též.

In [133]:
d

{'symbol': 'DJIA',
 'year': 2018,
 'momth': 1,
 'day': 25,
 'open': 26313,
 'high': 26458,
 'low': 26260,
 'close': 26393}

Dřív dictionary neměl garantování pořadí, teď už to tak je. Takže by mohl být klasický dictionary. Takže OrderedDict už budou dříve nebo později mimo, teď už asi jsou mimo.

## Named Tuple - modifikace a rozšíření

In [134]:
from collections import namedtuple

In [135]:
Point2D = namedtuple("Poin2D", "x y")

In [136]:
pt = Point2D(10,20)

In [137]:
pt

Poin2D(x=10, y=20)

In [138]:
pt[0], pt[1] #pouze opáčko

(10, 20)

In [140]:
pt.x = 100

AttributeError: can't set attribute

Ale přiřazovat hodnoty nemůžeme takže jak to obejdeme?

In [141]:
id(pt)

2613156045952

In [143]:
pt = Point2D(100, pt.y)

In [144]:
pt

Poin2D(x=100, y=20)

In [145]:
id(pt)

2613156118144

Tzn. v podstatě abych něco modifikoval tak jedině tak, že přepíšu jeho hodnoty, ztratím ale původní referenci a získám novou, otázka jestli to není problém?

In [146]:
Stock = namedtuple("Stock", "symbol year month day open high low close")

In [147]:
djia = Stock("DJIA", 2018, 1, 25, 26_313, 26_458, 26_260, 26_393)

In [148]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [150]:
djia = Stock(djia.symbol, djia.year, djia.month, djia.day, djia.open, 
             djia.high, djia.low, 1000)

In [151]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=1000)

No to je prostě strašná blbost, abych změnil jednu hodnotu - tím že tvořím nový namedtuple jen s mírnou změnou, je ke zbláznění :D.

In [152]:
*values, close = djia

In [153]:
values, close

(['DJIA', 2018, 1, 25, 26313, 26458, 26260], 1000)

Takže pomocí unpackingu je to o něco rychlejší :).

In [155]:
values.append(26_393) #takže si poté přidám co chci - a dotvořím si namedtuple takto

In [156]:
djia = Stock(*values) #můj stock očekává 7 údajů proto je musím unpacknout

In [157]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

Takže jeden způsob jak urychlit přehnaný typing je pomocí packing a unpacking - pozor, že dostávám list při unpacakingu. Reference tam lítají pěkně divoce. Pokud chci přidávat jednu hodnotu je lepší .extend a ne append - zůstane mi stejná reference.

Též vše můžeme řešit pomocí slicingu.

In [158]:
djia = Stock(djia.symbol, djia.year, djia.month, djia.day, djia.open, 
             djia.high, djia.low, 1000)

In [159]:
values = djia[:7]

In [161]:
values #důležité je že pokud provedeme slicing zůstane nám to co máme, takže tuple

('DJIA', 2018, 1, 25, 26313, 26458, 26260)

In [162]:
#teď musíme samozřejmě příčíst další hodnotu a tedy vytvořit nový tuple
values + (100,) #čárku protože spojuji dva tuply?

('DJIA', 2018, 1, 25, 26313, 26458, 26260, 100)

In [163]:
djia =  Stock(*values, 1000) #nebo též takto - shodné jako u listů

In [164]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=1000)

Stále to jsou mizerné metody, pokud bychom chtěli něco měnit uprostřed.

In [166]:
id(djia)

2613156069040

In [168]:
djia = djia._replace(year=2020, open=10000)

In [169]:
djia

Stock(symbol='DJIA', year=2020, month=1, day=25, open=10000, high=26458, low=26260, close=1000)

In [170]:
id(djia)

2613156065904

Takže o co zde jde? Máme skvělou metodu pro změnu údajů v tuplu, pomocí jeho metody replace. Pouze zadáme Co za Co --> ale stále tvoříme nový tuple, jiné id.

In [171]:
djia = Stock._make(values + (100,))
#_make metoda v pdstatě použije unpacking na values nic víc

In [172]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=100)

Unpacking je podle mě hezčí, navíc se jedná o obecnou logiku, která se používá všude.

In [173]:
Point2D._fields

('x', 'y')

Budeme řešit v pdostatě to, že chceme z 2D udělat 3D tzn. přidat mu pole. Bez toho abych vše psal znovu. Jen doappendíme..

In [176]:
Point2D._fields + ("z",)

('x', 'y', 'z')

In [177]:
Poiunt3D = namedtuple("Point3D", Point2D._fields + ("z",))

In [180]:
Poiunt3D._fields

('x', 'y', 'z')

V podstatě nic extra, jde jen o to, že pokud budeme mít opravdu rozsáhlý namedtuple s hodně poli tak bude nejvhodnější použít jeho pole a přičíst nová pole.

## DocStrings and Default Values

In [182]:
from collections import namedtuple

In [183]:
Point2D = namedtuple("Point2D", "x y")

In [184]:
Point2D.__doc__ #máme tedy dokumentaci našeho namedtuple

'Point2D(x, y)'

In [187]:
Point2D.x.__doc__, Point2D.y.__doc__ #to samé doc pro atributy

('Alias for field number 0', 'Alias for field number 1')

In [189]:
# help(Point2D) - pokud to chceme extra bádat, tzn co má co nemá ..

Můžeme si to samozřejmě modifikovat

In [190]:
Point2D.__doc__ = "2D Cartesian coordinate"
Point2D.x.__doc__ = "X coordinate"
Point2D.y.__doc__ = "Y coordinate"

In [191]:
Point2D.x.__doc__, Point2D.y.__doc__, Point2D.__doc__

('X coordinate', 'Y coordinate', '2D Cartesian coordinate')

V podstatě nic extra tedy :).

Tak jak nastavíme defaultní hodnoty pro namedtuple??

#### Prototype

In [192]:
Vector2D = namedtuple("Vector2D", "x1 y1 x2 y2 origin_x origin_y")

In [194]:
Vector2D._fields

('x1', 'y1', 'x2', 'y2', 'origin_x', 'origin_y')

Nicméně rád bych zadával pouze jen 4 údaje a měl dvě defaultní ..

In [195]:
vector_zero = Vector2D(0,0,0,0,0,0) #vytvářím prototyp

In [196]:
vector_zero

Vector2D(x1=0, y1=0, x2=0, y2=0, origin_x=0, origin_y=0)

In [198]:
v2 = vector_zero._replace(x1=10, y1=10, x2=20, y2=20)

Takže takto mohu díky prototypu tzn. vzoru a replace vytvářet namedtuple s defaultními hodnotami, samozřejmě pomocí kw hodnot.

In [199]:
v2

Vector2D(x1=10, y1=10, x2=20, y2=20, origin_x=0, origin_y=0)

V podstatě nevytvářím již pomocí vector2d ale pomocí prototypu protože drží v sobě 6x 0 jako svoje hodnoty. Není to moc čisté, a používáme místo classy objekt takže to není úplně ono, a ještě k tomu musíme udávat keyword argumenty což je většinou ok ale u např. snadných funkcí je to zbytečná ztráta času.

In [200]:
def func(a, b=10, c=20):
    print(a,b,c)

In [201]:
func.__defaults__

(10, 20)

Funkce disponuje dunder defaultem. Proto stím nemá problém ale co namedtuple?

In [205]:
func.__defaults__ = (100, 200, 300) #badass měním default u funkcí

In [206]:
func()

100 200 300

Takže si ho trochu vynutíme.

In [209]:
type(Vector2D.__new__.__defaults__)

NoneType

In [210]:
Vector2D.__new__.__defaults__ = (0,0)

In [211]:
v1 = Vector2D(10,10,20,20)

In [212]:
v1

Vector2D(x1=10, y1=10, x2=20, y2=20, origin_x=0, origin_y=0)

Tadááááá, tohle je docela luxusní. Moc pěkné dotvoření defaultních hodnot :).

## Named Tuples Apps

### Returning Multiple

In [215]:
from random import randint, random

In [217]:
from collections import namedtuple

In [235]:
def random_color():
    red = randint(0,255)
    blue = randint(0,255)
    green = randint(0,255)
    alpha = round(random(),2)
    return red, green, blue, alpha

In [222]:
color = random_color()

In [223]:
color

(132, 222, 77, 0.58)

Prostě máme generátor hodnot pro barvu, nic víc.

In [224]:
red, blue, green, alpha = color

In [226]:
red, blue, green, alpha

(132, 222, 77, 0.58)

Můžu takto unpacknout hodnoty. A teď pomocí namedtuple.

In [227]:
Color = namedtuple("Color", "red green blue alpha")

In [234]:
def random_color():
    red = randint(0,255)
    blue = randint(0,255)
    green = randint(0,255)
    alpha = round(random(),2)
    return Color(red, green, blue, alpha)
    #v podstatě moje funkce returní NamedTuple 
    #protože color je named tuple a argumenty sedí

In [232]:
color = random_color()

In [233]:
color

Color(red=74, green=231, blue=198, alpha=0.74)

Zajímavé, takto si to propojíme a tvoříme named tuple v pdostatě pomocí funkce.

Obecně vhodné mít například pycharm pro našeptávání. VS code je +- asi mizernější stav.

### Alternative to Dictionaries

In [236]:
data_dict = dict(key1=100, key2=200, key3=300)

In [237]:
data_dict["key1"]

100

Pokud nechceme modifikovat dictionary, někdy je vhodnější použít named tuple.

In [238]:
from collections import namedtuple

In [239]:
Data = namedtuple("Data", data_dict.keys())

In [240]:
Data._fields

('key1', 'key2', 'key3')

Vytvořili jsme namedtuple s hodnotami z dicitonary.

In [252]:
d1 = Data(*data_dict.values())
#a nyní vytvářím objetk z naší named tuple classy - a již ne pomocí klíčů ale 
#pomocí hodnot :)
#unpoacking protože rozbaluji list - zatímco při tvorbě si poradí se zápisem "x y z"

In [243]:
d1 #tadááá

Data(key1=100, key2=200, key3=300)

In [249]:
data_dict.values()
#můžu vidět že navrací list - proto unpacking viz výše

dict_values([100, 200, 300])

In [253]:
d2 = Data(key1=10, key3=30, key2=20)

In [254]:
d2

Data(key1=10, key2=20, key3=30)

In [255]:
Data._fields

('key1', 'key2', 'key3')

Obecně jde o problém, že se nám může pomíchat pořadí klíčů.

In [257]:
d2 = Data(**data_dict)

In [258]:
d2

Data(key1=100, key2=200, key3=300)

Ale tohle je badass, prostě jej zavedu s dictionary a provedu ho takto snadno do named tuple. Předtím si vytvořím samozřejmě šablonu.

In [262]:
data_list = [
    { "key1": 1, "key2": 2},
    { "key1": 3, "key2": 4},
    { "key1": 5, "key2": 6, "key3" : 7},
    { "key2": 100}
]

Začínáme s listem dictionaries.

In [263]:
keys = set() #budeme získávat unikátní hodnoty

In [264]:
for d in data_list:
    for key in d.keys():
        keys.add(key)
     #iterujeme data list a dicitonary a vkládáme   
print(keys)

{'key3', 'key2', 'key1'}

In [265]:
keys = {key for dict_ in data_list for key in dict_.keys()}

In [268]:
keys #stejné jako nahoře jen pomocí List Comprehension - stále zamotané

{'key1', 'key2', 'key3'}

In [270]:
Struct = namedtuple("Struct", sorted(keys)) #chci je mít seřazené jasně
#prostě zaládáme namedtuple

In [273]:
Struct._fields

('key1', 'key2', 'key3')

Problém je, že ne všechny dictionary mají 3 klíče, 3 jsou maximum.

In [275]:
Struct.__new__.__defaults__ = (None,) * len(Struct._fields)
#prostě dáváme podle délky toho kolik máme polí - defaultně hodnotu None

In [277]:
tuple_list = []
for dict_ in data_list:
    #takže budeme znovu iterovat skrze náš supr list s dictionary
    tuple_list.append(Struct(**dict_))
print(tuple_list)

[Struct(key1=1, key2=2, key3=None), Struct(key1=3, key2=4, key3=None), Struct(key1=5, key2=6, key3=7), Struct(key1=None, key2=100, key3=None)]

Tadááá :D

V podstatě řádky předtím nenavazují na finální kod, pouze ukazují postup jak jsme se k tomu dostali. Nyní to přepíšeme do jedné supr funkce.

In [286]:
def tuplify_dicts(dicts):
    """obdrž sequncy"""
    keys = {key for dict_ in dicts for key in dict_.keys()}
    #vydoluje unikátní klíče - dáváme do setu - set comprehension!
    #jinak syntax obecně doluje všechny klíče ze všech hodnot co najde
    #takto vytvoří univerzální unikátní seznam
    Struct = namedtuple("Struct", sorted(keys)) #vytvoříme classu z named tuple
    #která se jmenuje Struct a hodnoty classy jsou právě keys..
    Struct.__new__.__defaults__ = (None,)* len(Struct._fields)
    #nastavíme defaultní hodnotu pro classu struct - podle délky jeho polí ..
    #v podstatě - podle toho kolik má klíčů - tolik hodnot bude mít defaultních
    return [Struct(**dict_) for dict_ in dicts]
    #unpackuju všechny dictionary zvlášt do namedtuple classy :) ..
    #z listu dictionary unpackini dictionary - a udělej z něj named tuple classu

In [287]:
tuplify_dicts(data_list)

[Struct(key1=1, key2=2, key3=None),
 Struct(key1=3, key2=4, key3=None),
 Struct(key1=5, key2=6, key3=7),
 Struct(key1=None, key2=100, key3=None)]

In [297]:
[key for dict_ in data_list for key in dict_.keys()]

['key1', 'key2', 'key1', 'key2', 'key1', 'key2', 'key3', 'key2']

Pokud zjistím, že píšu classy, které jsou neměnné a disponují leda tak __init__ a pár parametry. Tak píši Named tuples :)